<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Лингвистическая анкета</title>
</head>

<h4 align="center"><a href="http://127.0.0.1:5000/">Анкета</a>  <a href="http://127.0.0.1:5000/stats">Статистика</a>  <a href="http://127.0.0.1:5000/json">json</a>  <a href="http://127.0.0.1:5000/search">Поиск</a></h4>
<h2>Цвета</h2>

<body bgcolor=ADADAD>
<p>Заполните, пожалуйста, анкету про названия цветов.</p>
<form action="http://127.0.0.1:5000/answers" method="GET">
	<p><b>Ваш язык?</b> <input type="text" name="language" value=""></p>	
	<p><b>Как Вы назовете на Вашем языке следующие цвета?</b></p>
	<p>1. <img src="{{url_for('static', filename='black.jpg')}}" /></p>
	<p><input type="text" name="color1" value=""></p>	
	<p>2. <img src="{{url_for('static', filename='white.jpg')}}" /></p>
	<p><input type="text" name="color2" value=""></p>	
	<p>3. <img src="{{url_for('static', filename='red.jpg')}}" /></p>
	<p><input type="text" name="color3" value=""></p>
	<p>4. <img src="{{url_for('static', filename='blue.jpg')}}" /></p>
	<p><input type="text" name="color4" value=""></p>	
	<p>5. <img src="{{url_for('static', filename='green.jpg')}}" /></p>
	<p><input type="text" name="color5" value=""></p>	
	<p>6. <img src="{{url_for('static', filename='yellow.jpg')}}" /></p>
	<p><input type="text" name="color6" value=""></p>	
	<p>7. <img src="{{url_for('static', filename='purple.jpg')}}" /></p>
	<p><input type="text" name="color7" value=""></p>
	<p>8. <img src="{{url_for('static', filename='pink.jpg')}}" /></p>
	<p><input type="text" name="color8" value=""></p>	
	<p><input type="submit" value="Отправить"></p>
</form>

</body>
</html>
