<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Лингвистическая анкета</title>
</head>

<h4 align="center"><a href="http://127.0.0.1:5000/">Анкета</a>  <a href="http://127.0.0.1:5000/stats">Статистика</a>  <a href="http://127.0.0.1:5000/json">json</a>  <a href="http://127.0.0.1:5000/search">Поиск</a></h4>
<h2>Поиск</h2>

<body bgcolor=ADADAD>
<form action="http://127.0.0.1:5000/result" method="GET">
	<p><b>Введите слово, чтоб узнать какой цвет оно обозначает и в каких языках: </b></p> 
	<p><input type="text" name="query" value=""></p>
	<p><input type="submit" value="Поиск"></p>
</form>

</body>
 </html>